<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, 'error') %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <%= f.label :rating %>
  <%= f.select :rating, [1,2,3,4,5] %>

  <div class="actions">
    <%= f.submit 'Add restaurant', class: 'button' %>
  </div>
<% end %>
