<%= link_to 'Add restaurant', new_restaurant_path, class: 'button' %>
<% if @restaurants.empty? %>
  <h1>There are no restaurants in the system</h1>
<% else %>
  <div class="row" id="index_table_<%= @restaurants.first.class.name.pluralize.downcase %>">
    <% @restaurants.each_slice(3) do |group| %>

      <% group.each do |restaurant| %>
        <div class="medium-6 large-4 columns">
          <article class="article-card" id="<%= restaurant.name.downcase %>">
            <%= image_tag image_url(restaurant) %>
            <div class="card-content">
              <img class="post-icon" src="<%= user_avatar %>" alt="foundation icon">
              <p class="post-author">Added by: <%= restaurant.try(:user).try(:username) %></p>
              <span class="stars right"><%= calculated_rating(restaurant) %></span>

              <h4><%= restaurant.name %></h4>

              <p><%= restaurant.description %></p>

              <p>
                <%= link_to 'Show', restaurant_path(restaurant), class: 'button tiny' %>
                <%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'button tiny' if current_user.is_owner?(restaurant) %>
                <%= link_to 'Destroy', restaurant_path(restaurant), confirm: 'Are you sure?', method: :delete, class: 'button tiny alert ' if current_user %>
              </p>
            </div>
          </article>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>



<script>
  $(function () {
    $('span.stars').stars();
  });
</script>