
<%= image_tag image_url(@restaurant), style: 'width: 200px; height: auto;' %>

<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.rating %></p>
<% if @restaurant.comments.any? %>
  <h3>Reviews for <%= @restaurant.name %></h3>
  <% @restaurant.comments.each do |comment| %>
    <p><%= comment.body %></p>
    <p><strong>Added by: <%= comment.try(:user).try(:username) %></strong></p>
    <p><strong><%= comment.rating %></strong></p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'button' %> |
<%= link_to 'Back', restaurants_path, class: 'button' %> |
<%= link_to 'Comment', new_restaurant_comment_path(@restaurant), class: 'button' %>

