<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : 'Yelpzy - a Yelp clone' %></title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav class="menu">
  <h1 class="name"><i class="fi-shield"></i> YELPZY</h1>
  <ul class="inline-list">
    <li><a href="#">Home</a></li>
    <li class="active"><%= link_to 'About', about_path %></li>
    <li><a href="#">Pricing</a></li>
  </ul>
  <% if current_user %>
    <ul class="inline-list hide-for-small-only account-action">
      <li style="color: white;">Logged in as:  <%= current_user.username %></li>
      <li><%= link_to 'log out', destroy_user_session_path, method: :delete %></li>
    </ul>

  <% else %>
    <ul class="inline-list hide-for-small-only account-action">
      <li><a href="#" data-reveal-id="myModal">Login</a></li>
      <li class=""><a class="signup" href="#" data-reveal-id="myModal">Signup</a></li>
    </ul>

  <% end %>
  <a class="account hide-for-medium-up" href="#" data-reveal-id="myModal"><i class="fi-unlock"></i></a>
</nav>

<!-- modal content -->

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="login or sign up" aria-hidden="true" role="dialog">
  <div class="row">
    <div class="large-6 columns auth-plain">
      <div class="signup-panel left-solid">
        <p class="welcome">Registered Users</p>
        <%= form_for :user, url: session_path(:user) do |f| %>
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">
              <%= f.text_field :email, placeholder: 'Your email' %>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10  columns">
              <%= f.password_field :password, placeholder: 'Your password' %>
            </div>
          </div>
          <div class="small-10  columns">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <div class="small-10  columns">
            <%= f.submit 'Sign in', class: 'button tiny' %>
          </div>
          <div class="small-10 columns">
            <%= link_to 'Facebook Sign in', omniauth_authorize_path(:facebook), class: 'button tiny' %>
          </div>
        <% end %>

      </div>
    </div>

    <div class="large-6 columns auth-plain">
      <div class="signup-panel newusers">
        <p class="welcome"> New User?</p>

        <p>By creating an account with us, you will be able to add restaurants, reviews and more.</p><br>
        <%= link_to 'Sign up', new_user_registration_path, class: 'button' %>
      </div>
    </div>

  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <p class="notice" id="notification"><%= notice %></p>

    <p class="alert" id="notification"><%= alert %></p>
    <%= yield %>

  </div>
</div>

<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"><i class="fi-shield"></i> YELPZY</p>

      <p class="footer-links">
        <a href="#">Home</a>
        <%= link_to 'About', about_path %>
        <a href="#">Pricing</a>
      </p>

      <p class="copywrite">Copywrite not copywrite © 2015</p>
    </div>

    <div class="small-12 medium-12 large-7 columns">
      <p class="about">Yelpzy - A Yelp Clone exercise</p>

      <p class="about subheader">Developed with Ruby and Ruby on Rails. Styled using Foundation 5.0. Tested with RSpec, Cucumber
        and Capybara. Deployed to Heroku. All OpenSourced and/or Free!</p>

      <p class="about subheader">Made with <i class="fi-heart" style="color: red; font-size: 18px;"></i>
        at <%= link_to 'Makers Sweden', 'http://www.makersacademy.se' %></p>
      <ul class="inline-list social">
        <a href="https://www.facebook.com/makersacademysweden"><i class="fi-social-facebook"></i></a>
        <a href="https://twitter.com/MakersSweden"><i class="fi-social-twitter"></i></a>
        <a href="https://github.com/MakersSweden"><i class="fi-social-github"></i></a>
      </ul>
    </div>
  </div>
</footer>

</body>
</html>
